.btn[b-f1s2pl8dup] {
    border: 1px solid black;
    width: 100px;
    margin: 5px 20px;
    padding: 0;
}

.info_sub_title_section[b-f1s2pl8dup],
.info_display_section[b-f1s2pl8dup] {
    border-bottom: 1px solid black;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 20px 100px 100px 150px 100px 80px;
}

.info_display_section[b-f1s2pl8dup] {
    grid-template-columns: 20px 100px 100px 150px 100px 80px 100px 80px;
}

.info_display[b-f1s2pl8dup] {
    vertical-align: sub;
}

