/*Search section*/
.search_section[b-vx2xv9otq3] {
    display: flex;
}

.search_section label[b-vx2xv9otq3] {
    margin: 4px 5px;

}

.search_section input[b-vx2xv9otq3] {
    width: 200px;
    margin: 1px;
}

/*Display section*/
.display_section[b-vx2xv9otq3] {
    margin-top: 20px;
}

.info_area[b-vx2xv9otq3] {
    width: 70%;
    display: flex;
}

.info_sub_title_section[b-vx2xv9otq3] {
    margin-right: 10px;
}

.info_sub_title[b-vx2xv9otq3] {
    margin: 8px 0;
    text-align: right;
}

.info_display[b-vx2xv9otq3] {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    margin: 3px 0;
}

.btn[b-vx2xv9otq3] {
    border: 1px solid black;
    width: 100px;
    margin: 50px 20px 5px 20px;
    padding: 0;
    height: 40px;
}