.btn[b-71bxw2ck56] {
    border: 1px solid black;
    width: 100px;
    margin: 5px 20px;
    padding: 0;
}

.info_sub_title_section[b-71bxw2ck56],
.info_display_section[b-71bxw2ck56] {
    border-bottom: 1px solid black;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 20px 100px 100px 150px 100px 80px;
}

.info_display_section[b-71bxw2ck56] {
    grid-template-columns: 40px 100px 100px 150px 100px 80px 100px 80px;
}

.info_display[b-71bxw2ck56] {
    vertical-align: sub;
}
